:root {
  --color-primary-main: #1976d2;
  --color-error-main: #d32f2f;
  --color-warning-main: #ed6c02;
  --color-info-main: #0288d1;
  --color-success-main: #2e7d32;
  --color-text-primary: rgba(0, 0, 0, 0.87);
  --color-text-secondary: rgba(0, 0, 0, 0.6);
  --color-text-disabled: rgba(0, 0, 0, 0.38);
  --color-divider: rgba(0, 0, 0, 0.12);
  --color-background: #fff;
  --color-action: rgba(0, 0, 0, 54)
  --opacity-hover: 0.04;
  --opacity-selected: 0.08;
  --opacity-disabled: 0.38;
  --opacity-focus: 0.12;
  --opacity-active: 0.12;
}
