:root {
  --main-font-family: Roboto, Helvetica, Arial, sans-serif;
  --main-font-size: 14px;
  --main-line-height: 1.5;
  --main-font-weight: 400;
  --button-font-size: 0.875rem;
  --button-line-height: 1.75;
  --button-font-weight: 500;
}
